#projects {
  position: absolute;
  right: 0;
  height: 100%;
  width: 75%;

  .project {
    padding: 0;
    border: 1px solid $color-clouds;
    // border-bottom: 1px solid $color-clouds;

    .box1 {
      width: 100%;
      .title {
        width: 100%;
        padding: 2%;
        background: #f4b350;
        font-size: 1.7em;
        color: white;
        text-align: center;
      }
      .image {
        text-align: center;
        padding: 5%;

        img {
          height: 20vh;
          padding: 5%;
        }
      }

      .description {
        width: 100%;
        height: 100px;
        padding: 2% 8%;
        font-size: 1.1em;
      }

      .button {
        width: 100%;
        color: white;
        text-align: center;

        button {
          margin: 2% 2% 8% 2%;
          width: 40%;
          background: white;
          color: black;

          &:hover {
            background: #f4b350;
            color: white;
            font-weight: normal;
            text-decoration: none;
            text-shadow: none;
            border: 1px solid #f4b350;
          }
        }
      }
    }

    .box2 {
      width: 100%;
      .title {
        width: 100%;
        padding: 2%;
        background: #6EB7D2;
        font-size: 1.7em;
        color: white;
        text-align: center;
      }
      .image {
        text-align: center;
        padding: 5%;

        img {
          height: 20vh;
          padding: 5%;
        }
      }

      .description {
        width: 100%;
        padding: 2% 8%;
        height: 100px;
        font-size: 1.1em;
      }

      .button {
        width: 100%;
        color: white;
        text-align: center;

        button {
          margin: 2% 2% 8% 2%;
          width: 40%;
          background: white;
          color: black;

          &:hover {
            background: #6EB7D2;
            color: white;
            font-weight: normal;
            text-decoration: none;
            text-shadow: none;
            border: 1px solid #6EB7D2;
          }
        }
      }
    }

    .box3 {
      width: 100%;
      .title {
        width: 100%;
        padding: 2%;
        background: #63CD9F;
        font-size: 1.7em;
        color: white;
        text-align: center;
      }
      .image {
        text-align: center;
        padding: 5%;

        img {
          height: 20vh;
          padding: 5%;
        }
      }

      .description {
        width: 100%;
        padding: 2% 8%;
        height: 100px;
        font-size: 1.1em;
      }

      .button {
        width: 100%;
        color: white;
        text-align: center;

        button {
          margin: 2% 2% 8% 2%;
          width: 40%;
          background: white;
          color: black;

          &:hover {
            background: #63CD9F;
            color: white;
            font-weight: normal;
            text-decoration: none;
            text-shadow: none;
            border: 1px solid #63CD9F;
          }
        }
      }
    }

  }

  
}

@media(max-width:992px) {
  #projects {
    width: 100%;
  }
}